@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #E20000;
}

#index{
    background-image: url(../Imagenes/fondo-contacto.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#index .div-cohete{
    height: 410px;
}#index .cohete{
    height: 400px;
}
#index .cohete:hover{
    height: 410px;
}
#index .input-home p{
    color:white;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: 600;
}


nav .nav-link {
    color: #282828;
}

nav .active{
    border: 1px solid #E20000;
    border-radius: 20px;
    ;
}

.pr-5, .px-5 {
    padding-right: 3rem!important;
}

input, .btn{
    border-radius: 15px !important;
}

textarea{
    height: 150px !important;
    resize: none;
    border-radius: 15px !important;
}

p {
    color: #6a6a6a
}

#index{
    background-image: url(../Imagenes/fondo-contacto.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#contacto {
    background-image: url(../Imagenes/fondo-contacto.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#proyectos {
    background-image: url(../Imagenes/Artboard\ 1\ copia\ 3\ copy\ 9.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#proyectos img {
    height: 203px;
}

#proyectos h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    padding: 0px;
    margin: 0px;
    padding-left: 15px;

}

#proyectos p{

    padding: 25px
}
#proyectos .card p{
    height: 90px;

}


.p-3 {
    padding: 1rem!important;
}

#proyectos h2{
    background: rgb(163,0,0);
    background: linear-gradient(90deg, rgba(163,0,0,1) 27%, rgba(242,12,12,1) 58%);
}

@media (max-width: 700px) {
    #contacto {
        background-image: url(../Imagenes/Artboard\ 1\ copia\ 3\ copy\ 9.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.btne {
    background-color: white;
    color: #370a6d;
    padding: 4px;
    margin-left: 520px;
    border-radius: 20px;
}

.btne:hover{
    background-color: #370a6d;
    color: white;  
}

.btn{
    background-color: #E20000 !important;
    color: white;
    padding: 4px;
    border-radius: 20px;
}



.text-right {
    text-align: right!important;
}

.whatsapp1 a{
    color: white;
}

.row {
    display: flex;
}

.form-inline { 
    padding-left: 580px;
}

.fuente:hover{
    text-decoration: blue;
    text-decoration: underline !important;
}

a {
    color: red;
    text-decoration:solid
}

footer .fa-github, .fa-linkedin-in{
    font-size: 30px;
}

#proyectos footer .fa-github{
    color: red;
    padding-left: 0px;
}

#proyectos footer .fa-linkedin-in{
    color: red;
}
